{% assign projects = (site.data.projects | where: "status", include.status | sort: "name") %}
<div>
	{% for project in projects cols:include.cols %}
		{% capture modulo %}{{ forloop.index0 | modulo: include.cols }}{% endcapture %}
		{% capture modulo1 %}{{ forloop.index | modulo: include.cols }}{% endcapture %}

		{% if modulo == '0' %}<div class="row">{% endif %}
		<div class="medium-{{ 12 | divided_by: include.cols }} columns product">
		  {% if project.logo %}
		  <a href="{{ project.url }}"><img class="logo" src="{{ project.logo }}"/></a>
		  {% endif %}
		  <h4><a href="{{ project.url }}">{{ project.name }}</a></h4>
		  <p>{{ project.description }} <a href="{{ project.url }}">{{ site.data.language.more }}</a></p>
		</div>
		{% if modulo1 == '0' or forloop.last %}</div>{% endif %}
	{% endfor %}
</div>
